#douban{
	position: absolute;
	top: 50px;
	left:220px;
}
#zhongjian{
	position: absolute;
	top: 150px;

}
#liebiao{
	position: absolute;
	top: 13px;
	left: 930px;
}
#liebiao a{
	text-decoration: none;
}
#denglu{
	position: absolute;
	top: -5px;
	left: 850px;
}
#denglu a{
	text-decoration: none;
}
#fufei{
	position: relative;
	top: 20px;
	left: 800px;
	display: none;
	z-index: 100;
}
#fufei li{
	list-style-type: none;
	padding: 10px;
	border: 1px solid;
	background-color: #f1f1f1
}
#fufei li a{
	text-decoration: none;
}
#autoplay{
	position: absolute;
	top: -80px;
	left: 600px;
	box-shadow: 10px,10px,5px,10px #ccc;
}
#zhuanji{
	position: absolute;
	top: 0px;
	left: 0px;
}
#player{
	position: absolute;
	top: 0px;
	left: 248px;
	background-color: white;
}
#play{
	position: absolute;
    top: 1px;
    left: 205px;
}
#shoucang{
	position: absolute;
    top: 180px;
    left: 70px;
}
#like{
	position: absolute;
    top: 180px;
    left: 70px;
    display: none;
}
#shanchu{
	position: absolute;
    top: 180px;
    left: 120px;
}
#nextplay{
	position: absolute;
    top: 180px;
    left: 190px;
}
#geming{
	position: absolute;
    top: 30px;
    left: 10px;
}